body {
	cursor: pointer;
}

main.container {
	margin-top: 10vh;
}

main h1 {
	font-size: 3em;
	font-weight: bold;
}

main p {
	margin-top: 1em;
	font-size: 1.4em;
}

div.startArea,
form.scoreForm {
	margin-left: auto;
	margin-right: auto;
}

div.startArea {
	max-width: 720px;
}

form.scoreForm {
	max-width: 540px;
}

div.startArea *,
div.timeUp *,
div.submitScore * {
	text-align: center;
}

div.questionArea {
	position: relative;
}

div.questionArea,
div.submitScore,
div.timeUp,
div.highScores,
div.questionArea .answerResponse {
	display: none;
}

div.questionArea div.questionTextArea {
	margin-right: 50px;
}

div.questionArea button.btn.choice {
	display: block;
	margin-top: 10px;
}

div.questionArea .timerArea {
	position: absolute;
	top: 6px;
	right: 0;
	margin: 0;
}

div.questionArea .timerDisplay,
div.questionArea .timerChange {
	text-align: center;
	margin: 0;
}

div.questionArea .timerChange {
	display: none;
	color: #E4572E;
}

div.d-flex.justify-content-center button:not(:first-child) {
	margin-left: 10px;
}

form.scoreForm label,
form.scoreForm input {
	text-align: left;
}
