main.container {
	margin-top: 10vh;
}

main h1 {
	font-size: 3em;
	font-weight: bold;
}

main p {
	margin-top: 1em;
	font-size: 1.4em;
}

div.start {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
}

div.start * {
	text-align: center;
}

div.questionArea {
	display: none;
}

div.questionArea button.btn.choice {
	display: block;
	margin-top: 10px;
}

div.questionArea .answerResponse {
	display: none;
}

div.questionArea .timerArea {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
}

div.questionArea .timerDisplay,
div.questionArea .timerChange {
	text-align: center;
	margin: 0 15px 0 0;
}

div.questionArea .timerDisplay {
	margin-top: 15px;
}

div.questionArea .timerChange {
	display: none;
	color: #E4572E;
}
